{% extends 'base.html.twig' %}

{% block title %}
Ot치zky pro z칤sk치n칤 radioamat칠rsk칠ho opr치vn캩n칤 v 캛R
{% endblock %}

{% block body %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="tools" viewBox="0 0 16 16">
    <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
  </symbol>
  <symbol id="check2" viewBox="0 0 16 16">
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
    <symbol id="three-dots" viewBox="0 0 16 16">
    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
  </symbol>
</svg>


  <header class="navbar navbar-expand-lg bd-navbar">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">

    <div class="d-flex">
    <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="hamotazky.cz">
     {# <img class="d-inline-block menu-logo bg-light me-1" src="/assets/img/radiotower.png" alt="radio tower icon"/> #} 
      <span>hamotazky.cz</span>
    </a>
    </div>

    <div class="d-flex">

      <button id="toggle-offcanvas-btn" class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" aria-controls="hamNavbarOffcanvas" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
        </svg>
      </button>
    </div>

    <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="hamNavbarOffcanvas" aria-labelledby="hamNavbarOffcanvasLabel" data-bs-scroll="true">
      <div class="offcanvas-header px-4 pb-0">
        <h5 class="offcanvas-title" id="hamNavbarOffcanvasLabel">hamotazky.cz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#hamNavbarOffcanvas"></button>
      </div>

      <div class="offcanvas-body p-4 pt-0 p-lg-0">
        <hr class="d-lg-none text-white-50">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link anchored-link py-2 px-0 px-lg-2" aria-current="true" href="#otazky-harec">Ot치zky HAREC</a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link anchored-link py-2 px-0 px-lg-2" aria-current="true" href="#otazky-novice">Ot치zky NOVICE</a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link anchored-link py-2 px-0 px-lg-2" aria-current="true" href="#faq">캛ast칠 dotazy</a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link anchored-link py-2 px-0 px-lg-2" aria-current="true" href="#pro-vyvojare">Pro v칳voj치콏e</a>
          </li>
        </ul>

        <hr class="d-lg-none text-white-50">

        {{ include ('parts/themeToggler.html.twig') }}

      </div>
    </div>
  </nav>
</header>

  <div class="h-divider"></div>

  <div class="container px-4 py-4 py-lg-5">

    <h3 id="otazky-harec" class="py-2 border-bottom">P콏칤prava na oper치torskou t콏칤du A (HAREC)</h3>
    <div class="row g-5 py-4 row-cols-1 row-cols-lg-3">

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <img class="feature-icon" src="/assets/img/bookstack.svg" alt="books icon"/>
        </div>
        <div>
          <h4>Prohl칤쬰n칤 ot치zek HAREC</h4>
          <p>On-line v칳uka ot치zek k p칤semn칠mu testu pro z칤sk치n칤 pr콢kazu odborn칠 zp콢sobilosti t콏칤dy A k obsluze vys칤lac칤ch r치diov칳ch za콏칤zen칤 amat칠rsk칠 radiokomunika캜n칤 slu쬭y</p>
          <a href="{{ path('harec-listing-topic-list') }}" class="btn btn-success">
            Prohl칤쬰t ot치zky A
          </a>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <img class="feature-icon" src="/assets/img/graduation.svg" alt="graduation icon"/>
        </div>
        <div>
          <h4>Procvi캜ov치n칤 ot치zek HAREC</h4>
          <p>On-line procvi캜ov치n칤 ot치zek pro t콏칤du A. M콢쬰코 procvi캜ovat po jednotliv칳ch kategori칤ch, nebo tr칠novat v코echny ot치zky ze v코ech kategori칤 slou캜en칳ch dohromady.</p>
          <a href="{{ path('harec-practice-topic-list') }}" class="btn btn-success">
            Procvi캜it ot치zky A
          </a>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <img class="feature-icon" src="/assets/img/document.svg" alt="test icon" />
        </div>
        <div>
          <h4>Cvi캜n칳 test HAREC</h4>
          <p>On-line cvi캜n칳 test pro ov캩콏en칤 znalost칤 ot치zek pro t콏칤du A. Test je sestaven a vyhodnocov치n dle stejn칳ch krit칠ri칤 jako u opravdov칠 zkou코ky.</p>
          <a href="{{ path('harec-individual-test') }}" class="btn btn-success">
            Vyzkou코et test A
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="h-divider"></div>

  <div class="container px-4 py-4 py-lg-5">
    <h3 id="otazky-novice" class="py-2 border-bottom">Ot치zky pro oper치torskou t콏칤du N (NOVICE)</h3>
    <div class="row g-5 py-4 row-cols-1 row-cols-lg-3">

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <img class="feature-icon" src="/assets/img/bookstack.svg" alt="books icon"/>
        </div>
        <div>
          <h4>Prohl칤쬰n칤 ot치zek NOVICE</h4>
          <p>On-line prohl칤쬰n칤 ot치zek k p칤semn칠mu testu pro z칤sk치n칤 pr콢kazu odborn칠 zp콢sobilosti t콏칤dy N k obsluze vys칤lac칤ch r치diov칳ch za콏칤zen칤 amat칠rsk칠 radiokomunika캜n칤 slu쬭y</p>
          <a href="{{ path('novice-listing-topic-list') }}" class="btn btn-success">
            Prohl칤쬰t ot치zky N
          </a>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <img class="feature-icon" src="/assets/img/graduation.svg" alt="graduation icon"/>
        </div>
        <div>
          <h4>Procvi캜ov치n칤 ot치zek NOVICE</h4>
          <p>On-line procvi캜ov치n칤 ot치zek pro t콏칤du N. M콢쬰코 procvi캜ovat po jednotliv칳ch kategori칤ch, nebo tr칠novat v코echny ot치zky ze v코ech kategori칤 slou캜en칳ch dohromady.</p>
          <a href="{{ path('novice-practice-topic-list') }}" class="btn btn-success">
            Procvi캜it ot치zky N
          </a>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <img class="feature-icon" src="/assets/img/document.svg" alt="test icon" />
        </div>
        <div>
          <h4>Cvi캜n칳 test NOVICE</h4>
          <p>On-line cvi캜n칳 test pro ov캩콏en칤 znalost칤 ot치zek pro t콏칤du N. Test je sestaven a vyhodnocov치n dle stejn칳ch krit칠ri칤 jako u opravdov칠 zkou코ky.</p>
          <a href="{{ path('novice-individual-test') }}" class="btn btn-success">
            Vyzkou코et test N
          </a>
        </div>
      </div>

    </div>
  </div>

    <div class="h-divider"></div>

  <div class="container px-4 py-4 py-lg-5">
    <h3 id="faq" class="py-2 border-bottom">캛ast칠 dotazy</h3>
    <div class="row g-5 py-4 row-cols-1">

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
           <img class="feature-icon" src="/assets/img/radar.svg" alt="radar icon" />
        </div>
        <div>
          <h4>Jsou ot치zky aktu치ln칤?</h4>
          <p>Nejsem sice <a href="https://ctu.gov.cz/druhy-prukazu" target="_blank">캛esk칳 telekomunika캜n칤 칰콏ad</a>, ale ot치zky zde udr쬿ji aktu치ln칤 d칤ky automatick칠mu monitoringu webu 캛T칔. Ot치zky na tomto webu slou쮂 toti tak칠 jako zdroj dat pro <a href="https://itunes.apple.com/app/apple-store/id6472734388?mt=8" target="_blank">iPhone aplikaci Ham Oper치tor</a> a z치le쬴 mi na tom, aby v코ichni aspiruj칤c칤 radioamat칠콏i m캩li k dispozici data aktu치ln칤 a aby u캜en칤 bylo p콏칤jemn칠 a p콏칤stupn칠 i z mobiln칤ch za콏칤zen칤.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
           <img class="feature-icon" src="/assets/img/radar.svg" alt="radar icon" />
        </div>
        <div>
          <h4>Kterou oper치torskou t콏칤du si m치m vybrat?</h4>
          <p>Ze zku코enosti mnoh칳ch radioamat칠r콢 je lep코칤 ud캩lat si rovnou "vy코코칤" t콏칤du A (HAREC). Ot치zek k nau캜en칤 nen칤 zase o tolik v칤ce a t콏칤da A umo쮄갓je rovnou vys칤lat na v코ech povolen칳ch p치smech a s vy코코칤m v칳konem. Pokud se rozhodne코 i tak ud캩lat si t콏칤du N, v p콏칤pad캩, 쬰 by se ti vys칤l치n칤, nap콏칤klad na kr치tk칳ch vln치ch, zal칤bilo a bude코 si cht칤t "dod캩lat" t콏칤du A, mus칤코 se stejn캩 nau캜it v코echny ot치zky znovu, nikoli jen rozd칤l mezi t콏칤dami A a N. Proto je lep코칤 ud캩lat si rovnou t콏칤du A 游땕.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
           <img class="feature-icon" src="/assets/img/radar.svg" alt="radar icon" />
        </div>
        <div>
          <h4>Pro캜 bych se m캩l st치t radioamat칠rem?</h4>
          <p>Kdy u si zav칤tal na tenhle web, tak u odpov캩캞 nejsp칤코 zn치코, ale kdyby n치hodou ne, tady je p치r d콢vod콢: Radioamat칠rstv칤 je rozmanit치 aktivita, kde si ka쬯칳, koho bav칤 r치diov칠 vlny, najde to svoje. M콢쬰 to b칳t vys칤l치n칤 pro radost a sebevzd캩l치v치n칤, z치vod캩n칤 v radioamat칠rsk칳ch z치vodech m칤stn칤ch i mezin치rodn칤ch 캜i konstrukt칠rsk치 캜innost. Radioamat칠콏i mohou b칳t n치pomocni p콏i zaji코콘ov치n칤 komunikace v p콏칤pad캩 p콏칤rodn칤ch katastrof a nouzov칳ch stav콢. Taky se m콢쬰코 d칤ky provozu na radioamat칠rsk칳ch p치smech zdokonalit v jazyc칤ch. A tohle je jen zlomek toho co v코e je mo쬹칠.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
           <img class="feature-icon" src="/assets/img/radar.svg" alt="radar icon" />
        </div>
        <div>
          <h4>Pro캜 tahle str치nka existuje?</h4>
          <p>Ned치vno jsem s치m d캩lal zkou코ku a postr치dal jsem n캩jak칳 p콏칤jmen칳 zp콢sob jak se ot치zky u캜it. Na webu 캛T칔 jsou ot치zky k dispozici, ale jen ve form캩 PDF, jeho forma mi 칰pln캩 nevyhovovala a nav칤c v p콏칤pad캩 쬰 se chci u캜it na mobilu, tak PDF nen칤 to prav칠 o콏echov칠 (코patn캩 se v n캩m hled치, nen칤 responzivn칤...), tak쬰 jsem si nakonec napsal aplikaci <a href="https://itunes.apple.com/app/apple-store/id6472734388?mt=8" target="_blank">Ham Oper치tor pro iPhone</a> ze kter칠 jsem se u캜il a zve콏ejnil zdarma na AppStore i pro ostatn칤. Kdy u jsem pro 칰캜ely zm칤n캩n칠 aplikace p콏ipravil data o ot치zk치ch ve strukturovan칠 form캩, vy캜istil je a opravil p콏eklepy, 콏칤kal jsem si 쬰 by byla 코koda data nezve콏ejnit, aby z nich mohla t캩쬴t cel치 OK HAM komunita. Proto data zv캩콏ej켿uji d치l jak v lidsky 캜iteln칠 form캩, tak ve form캩 strojov캩 캜iteln칳ch dat. A proto쬰 aplikace pro Android programovat neum칤m, t콏eba n캩kdo kdo to um칤 data vyu쬴je a appku nap칤코e 游땕. P콏치l bych si, aby se tento web stal interaktivn칤m "centr치ln칤m zdrojem pravdy" k ot치zk치m na zkou코ky r치diov칳ch oper치tor콢 v 캛R a aby spr치vci web콢, skupin a aplikac칤 s radioamat칠rskou t칠matikou ide치ln캩 odkazovali tento web, kde data budu udr쬺vat aktu치ln칤. Jestli se to povede uk치쬰 캜as 游땕</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
           <img class="feature-icon" src="/assets/img/radar.svg" alt="radar icon" />
        </div>
        <div>
          <h4>Na코el jsem chybu/nep콏esnost</h4>
          <p>Dole v pati캜ce t칠to str치nky je na m캩 kontakt. Napi코 mi a uvid칤me co se s t칤m d치 d캩lat.</p>
        </div>
      </div>

    </div>

  </div>

  <div class="h-divider"></div>

  <div class="container px-4 py-4 py-lg-5">
    <h3 id="pro-vyvojare" class="py-2 border-bottom">Pro v칳voj치콏e</h3>
    <div class="row g-5 py-4 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h4>REST API</h4>
          <p>Sada API endpoint콢 pro pou쬴t칤 v tvoj칤 aplikaci. Obsahuje v쬯y aktu치ln칤 verzi ot치zek pro ob캩 oper치torsk칠 t콏칤dy.</p>
          <a href="{{ url('homepage') }}api/v1/docs/" target="_blank" class="btn btn-success">
            P콏ej칤t na dokumentaci
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h4>JSON</h4>
          <p>JSON soubor kter칳 obsahuje ot치zky aktu치ln칤 v dne코n칤 datum. Data v souboru zahrnuj칤 ob캩 oper치torsk칠 t콏칤dy.</p>
          <a href="{{ path('download-json-questions') }}" class="btn btn-success">
            St치hnout JSON
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h4>SQLite3</h4>
          <p>SQLite3 datab치ze kter치 obsahuje ot치zky aktu치ln칤 v dne코n칤 datum. Datab치ze zahrnuje ob캩 oper치torsk칠 t콏칤dy.</p>
          <a href="{{ path('download-sqlite-questions') }}" class="btn btn-success">
            St치hnout SQLite
          </a>
        </div>
      </div>
    </div>
  </div>

  {{ include ('parts/footer.html.twig') }}

{% endblock %}
